    /* menu */
    nav.navegacion{
        display: grid;
        justify-content: center;
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: $bordes;
        background-color: $color-fondo-nav;   
    }