*{
    margin: 0;
    padding: 0;
}

/* media querie */

@media screen and (max-width: 797px)
 {  div.camara {
    background-color: rgb(207, 207, 207);
    padding: 10px;
    margin: 10px;
    text-align: center;
 }
 footer{
    display: none;
}
 }  

/* encabezado */
.header-inicio{
    background-color: black;
}

.logo-header{
    width: 60px;
}

span.busqueda{
    color: white;
    margin-left: 1px;
}

.search{
    margin-left: 30px;
}

/* nombre de la pagina */
h1.titulo{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}


/* menu */

nav.navegacion{
    display: grid;
    justify-content: center;
}


li{
    display: inline-block;   
}

.menu{
    color: black;
    text-decoration: none;
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding-right: 0px;
    
}
/* pagina principal */

main.productos{
    margin-top: 50px;
}

h2.ofertas{
    background-color: rgb(207, 207, 207);
}


/* imagenes en index */

img.imagen-oferta{
    height: 140px;
    width: 140px;
}

img.imagen-4{
    height: 140px;
    width: 140px;
}

.camaras{
    background-color: rgb(207, 207, 207);
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

/* pagina (nosotros) */

.quien-somos{
    margin-bottom: 150px;
    margin-right: 700px;

}

/* cierro pagina (nosotros) */

.footer{
    background-color: black;
    padding-top: 50px;
}

.telefono{
    color: white;
}

.email{
    color: white;
}

.ubicacion{
    color: white;
}

.volver{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.volver:hover {
    background-color:  rgb(207, 207, 207);
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.formulario{
    
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    padding: 60px;
    margin: 60px;
}

.logo{
    width: 90px;
} 

